h1 {
    font-size: 50px;
}
h3 {
    font-size: 20px;
    text-align: center;
    padding-top: 7%;
}
img {
    width: 350px;
    height: 350px;
    text-align: center;
  }
  h2 {
      text-align: center;
      padding-top: 9%;
      padding-bottom: 9%;
  }
